<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Flyaway-App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ValidateUserServlet</display-name>
    <servlet-name>ValidateUserServlet</servlet-name>
    <servlet-class>com.flyaway.controller.ValidateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUserServlet</servlet-name>
    <url-pattern>/ValidateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUserServlet</display-name>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>com.flyaway.controller.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRegisterPageServlet</display-name>
    <servlet-name>GetRegisterPageServlet</servlet-name>
    <servlet-class>com.flyaway.controller.GetRegisterPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRegisterPageServlet</servlet-name>
    <url-pattern>/GetRegisterPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindFlightListServlet</display-name>
    <servlet-name>FindFlightListServlet</servlet-name>
    <servlet-class>com.flyaway.controller.FindFlightListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindFlightListServlet</servlet-name>
    <url-pattern>/FindFlightListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFlightServlet</display-name>
    <servlet-name>BookFlightServlet</servlet-name>
    <servlet-class>com.flyaway.controller.BookFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFlightServlet</servlet-name>
    <url-pattern>/BookFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ey</display-name>
    <servlet-name>ey</servlet-name>
    <servlet-class>com.flyaway.controller.ey</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ey</servlet-name>
    <url-pattern>/ey</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>credit</display-name>
    <servlet-name>credit</servlet-name>
    <servlet-class>com.flyaway.controller.credit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>credit</servlet-name>
    <url-pattern>/credit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>debit</display-name>
    <servlet-name>debit</servlet-name>
    <servlet-class>com.flyaway.controller.debit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>debit</servlet-name>
    <url-pattern>/debit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gift</display-name>
    <servlet-name>gift</servlet-name>
    <servlet-class>com.flyaway.controller.gift</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gift</servlet-name>
    <url-pattern>/gift</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>giftauthentication</display-name>
    <servlet-name>giftauthentication</servlet-name>
    <servlet-class>com.flyaway.controller.giftauthentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>giftauthentication</servlet-name>
    <url-pattern>/giftauthentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>netauthentication</display-name>
    <servlet-name>netauthentication</servlet-name>
    <servlet-class>com.flyaway.controller.netauthentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>netauthentication</servlet-name>
    <url-pattern>/netauthentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>netbk</display-name>
    <servlet-name>netbk</servlet-name>
    <servlet-class>com.flyaway.controller.netbk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>netbk</servlet-name>
    <url-pattern>/netbk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pin</display-name>
    <servlet-name>pin</servlet-name>
    <servlet-class>com.flyaway.controller.pin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pin</servlet-name>
    <url-pattern>/pin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transaction</display-name>
    <servlet-name>transaction</servlet-name>
    <servlet-class>com.flyaway.controller.transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transaction</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>
</web-app>